- support = []; demos = [];
- for (libname in supports) {
-   lib = supports[libname];
-   // accommodate for libraries not defining their own class
-   name = lib.className ? lib.className : libname;
-   support.push('[' + name + '](//' + lib.url + ')');
-   demos.push('[' + name + '](demo/' + libname + '.html)');
- }

:verbatim
  # #{pkg.name}
  > #{pkg.description}

  This plugin will automagically build a legend-syle HTML list of your defined keyboard shortcuts.
  The generated markup is *very* comprehensive, wrapping every element in the key-combos
  (keystrokes, operators, modifiers, symbols...) with a unique tag. This allows for some
  pretty awesome styling

  **Supported libraries:** #{support.join(', ')}
  (suggest another?)

  ## Installation
  1. Include your keyboard-binding library of choice
  2. *optional:* Include [#{pkg.urls.popup.name}](//#{pkg.urls.popup.url}) to enable popup-behavior
  3. Include **#{pkg.name}** and one of the CSS themes
  ```html
  <script src="path/to/keyboard-binding-lib.min.js"></script>
  <script src="path/to/#{pkg.urls.popup.name}.js"></script> <!-- optional -->
  <script src="path/to/#{pkg.name}.min.js"></script>
  <link rel="stylesheet" href="path/to/#{pkg.name}.theme.min.css" />
  ```

  **Demos:** #{demos.join(', ')}

  ## Usage

  Invoke your library's keyboard-binding function in the same way. The only difference is in the
  function's signature - the second argument is now the **combo description**, which will be used
  in the shortcut-list.
  ```javascript
  bindingFunction('r', 'Refresh', function(){ window.location.reload(); });
  ```

  Pass an *empty* combo to the binding function, and it will be treated as a **group header**.
  In this way you can group your shortcuts into categories for better readability.
  ```javascript
  bindingFunction('', 'Navigation' }); // "Navigation" category
  bindingFunction('r', 'Refresh', function(){ window.location.reload(); });
  bindingFunction('b', 'Back', function(){ window.history.back(); });
  ...
  ```

  #### #{pkg.name}.*get( [modal] )*
  #{pkg.name} is attached to your library's class as `[class].#{pkg.name}`.  
  *Note: If your binding library doesn't create its own class, it will be attached to `window.#{pkg.name}`.*

  **#{pkg.name}.get** generates an HTML legend for your shortcuts, and sends it to picoModal.
  ```javascript
  [class].#{pkg.name}.get(); // picoModal fired!
  ```

  If you haven't included picoModal, you will get the raw HTML.  
  Passing `false` to `#{pkg.name}.get` would acheive the same result.
  ```javascript
  var legend = [class].#{pkg.name}.get(); // If you have't included picoModal, or:
  var legend = [class].#{pkg.name}.get( false );
  // Use with another modal library, eg. Bootstrap.
  $(legend).modal();
  ```

  ## License
  #{pkg.license}
