symbols = 'shift' 'ctrl' 'alt' 'command' 'meta' 'mod' 'left' 'right' 'up' 'down' 'backspace' 'tab' 'enter' 'return' 'capslock'

join(delim, args)
  buf = ''
  for arg, index in args
    if index
      buf += delim + arg
    else
      buf += arg

list-and-group-align(list-width, gap)
  combined-width = (list-width + gap)
  #keypop-modal-list
    width combined-width
    table
      td
        width (list-width / 2)
        &.keypop-group
          width combined-width
      .keypop-group div
        position relative
        left 50%
        transform translateX(gap)
        overflow hidden

big-x-prefix(size, weight, color)
  background-color transparent !important
  top 15px !important
  right 15px !important
  font-size size !important
  font-weight weight !important
  color color !important

big-x()
  big-x-prefix(1.3em, bold, #ccc)
  text-shadow 0 0 1px #555 !important

big-x-black()
  big-x-prefix(2em, lighter, black)

#keypop-modal-list
  font-size 12px
  line-height 16px

  table
    margin 0 auto
    td
      padding 0
