@import "_common"

list-width = 400px
desc-precolon = 5px
desc-postcolon = 7px

.keypop-modal-overlay
  background-color transparent !important

.keypop-modal

  &-main
    background-color rgba(0,0,0,0.85) !important
    border-radius 5px !important

  &-close-btn
    visibility hidden !important
    right 35px !important
    top 20px !important
    color #dd0 !important
    &:before
      font-family Arial, sans-serif
      font-size 90%
      content "Close"
      visibility visible
      text-decoration underline

#keypop-modal

  &-content
    font-family Arial, sans-serif
    line-height 1.2em

  &-title
    color white
    font-weight bolder
    border-bottom 1px solid #555
    padding-bottom 5px

  &-list

    .keypop-wrap
      text-align right
      font-weight bolder
      color #dd0
      
      kbd
        font-family "courier new"
        
    .keypop-group div
      font-weight bolder
      font-size 13px
      color #dd0
      margin-top 10px
      
    .keypop-description
      color white
      padding-left desc-precolon

      &:before
        content ":"
        padding-right desc-postcolon

// adding 1px for the width of the ":" character
list-and-group-align(list-width, desc-precolon + desc-postcolon + 1px)
