@import "_common"

.keypop-modal

  &-main
    background-color white !important
    border-radius 5px !important
    border 1px solid #ccc !important
    border-bottom-color #bbb !important
    box-shadow 0 2px 4px #bbb !important
    padding-bottom 40px !important

  &-close-btn
    visibility hidden !important
    right 35px !important
    bottom 10px !important
    top auto !important
    color #3572b0 !important
    &:before
      font-family Arial, sans-serif
      font-size 14px
      content "Close"
      visibility visible
    &:hover
      text-decoration underline


#keypop-modal

  &-content
    font-family Arial, sans-serif

  &-title
    border-bottom 1px solid #ccc
    background-color #f5f5f5
    border-radius 5px 5px 0 0
    margin -20px -20px 0px
    padding 20px 20px 15px

  &-list

    table
      direction rtl
    .keypop-group,
    .keypop-wrap,
    .keypop-description
      direction ltr

    .keypop-group div
      font-weight bolder
      font-size 16px
      color #222
      border-bottom 1px solid #ddd
      margin 25px 0 5px
      padding-bottom 5px

    .keypop-wrap
      padding-left 15px

      .keypop

        &-combo
          text-transform uppercase
          padding 3px 5px
          vertical-align middle
          border-radius 3px
          border 1px solid #ccc
          background-color #fbfbfb
          background-image linear-gradient(to bottom,#fff,#f5f5f5)
          color #333
          margin 0 2px

        &-separator:before
        &-combinator:before
        &-sequencer:before
          font-size 12px
        &-separator:before
          content " or "
        &-combinator:before
          content "+"
          padding 0 2px
        &-sequencer:before
          content " then "

        &-command
        &-meta
        &-alt
        &-option
        &-enter
          &:after
            font-size 150%
            vertical-align middle
          .keypop-text
            display none

        &-command:after
        &-meta:after
          content "\2318"
        &-alt:after,
        &-option:after
          content "\2325"
        &-enter:after
          content "\21A9"

    .keypop-description
      font-size 13px
      line-height 27px
      color #444
