@import "_common"

.keypop-modal

  &-main
    background-color black !important
    border-radius 0 !important
    border 10px solid #383838 !important

  &-close-btn
    display none !important

#keypop-modal

  &-content
  &-content kbd
    font-family "Lucida Grande", Tahoma, sans-serif

  &-title
    display none

  &-list
    font-size 14px
    color white
    
    .keypop-group
      
      div
        font-weight bolder
        font-size 20px
        border-bottom 1px solid #666
        padding-bottom 8px
        margin 15px 0 5px
      
    table tr:first-child div
        margin-top 0
      
    .keypop-wrap
      padding 3px 15px 3px
      
      .keypop

        &-combo
          text-transform capitalize
          vertical-align middle
          color yellow
          font-weight bold
          margin 0 2px

        &-separator:before
        &-combinator:before
        &-sequencer:before
          padding 0 1px
          font-size 12px
          color white
        &-separator:before
          content " or "
        &-combinator:before
          content ""
        &-sequencer:before
          content " "

        &-command
        &-meta
        &-alt
        &-option
        &-shift
          .keypop-text
            display none

        &-esc
          text-transform capitalize
        &-ctrl:after
          content " "
        &-command:after
        &-meta:after
          content "\2318"
        &-alt:after,
        &-option:after
          content "\2325"
        &-shift:after
          content "\21E7"
