@import "_google"

#keypop-modal-list

    .keypop

      &-combinator:before
        content "+"
      &-sequencer:before
      &-separator:before
        font-size 75%
        font-weight normal
        color white
      &-sequencer:before
        content " then "
      &-separator:before
        content " or "
      &-symbol
        text-transform capitalize
