@import "_common"
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700")

list-width = 400px
combo-padding = 6px

.keypop-modal

  &-main
    background-color white !important
    box-shadow 0 2px 50px alpha(black, 0.5) !important
    border-radius 0 !important

  &-close-btn
    big-x-black()

#keypop-modal

  &-content
    font-family Roboto, sans-serif

  &-title
    border-bottom 1px #4285f4 solid
    margin -5px -20px 0
    padding 0 20px 15px
    font 120%
    color #333

  &-list
    padding-top 3px
    padding-bottom 3px
    line-height 20px
    font-size 13px

    table tr td
      padding-top 4px

    .keypop
      &-wrap
        text-align right
        padding-right combo-padding
        line-height 10px

      &-separator:before
        content "or"
        padding 0 2px
        color #757575
      &-combinator:before
      &-sequencer:before
        content " "
      &-combo
        padding 1px 2px
        vertical-align middle

        kbd
          font-family inherit
          background-color #f3f3f3
          border-radius 3px
          padding 3px 4px

          &:last-child
            font-weight 700

          .keypop-text
            vertical-align top

      &-modifier
      &-enter
      &-esc
        text-transform capitalize

    .keypop-group div
      font-weight bolder
      color #333
      margin-top 15px

    .keypop-description
      color #444

list-and-group-align(list-width, combo-padding)
