@import "_common"

list-width = 400px
combo-padding = 6px

.keypop-modal

  &-main
    background-color white !important
    border-radius 5px !important
    border 1px solid #ccc !important
    border-bottom-color #bbb !important
    box-shadow 0 2px 4px #bbb !important

  &-close-btn
    big-x()

#keypop-modal

  &-content
    font-family Helvetica, Arial

  &-title
    border-bottom 1px solid #ddd
    margin -5px -20px 0
    padding 0 20px 15px
    font 120%
    color #333
    
  &-list
    padding-top 3px
    padding-bottom 3px
    line-height 20px
    
    .keypop-wrap
      text-align right
      padding-right combo-padding
      font-family monospace
      font-size 11px
      line-height 10px
      
    .keypop
      &-separator:before
        content "/"
        padding 0 2px
        color #555
      &-combinator:before
      &-sequencer:before
        content " "
      &-combo
        padding 1px 5px
        vertical-align middle
        border-radius 3px
        border 1px solid #ccc
        border-bottom 2px solid #bbb
        background-color #fcfcfc
        color #555

    .keypop-group div
      font-weight bolder
      font-size 14px
      color #333
      margin-top 15px
      margin-bottom 3px
      
    .keypop-description
      color #444

list-and-group-align(list-width, combo-padding)
