@import "_google"

#keypop-modal-list

    .keypop

      &-separator
        display block
      &-combinator:before
        content "+"
        color white
        font-size 70%
        vertical-align middle
        padding 0 3px
      &-sequencer:before
        content " then "
        font-size 75%
        font-weight normal
        color white
      &-symbol
        text-transform capitalize
        &:before
          content "<"
        &:after
          content ">"
