@import "_common"
@import "_system.css"

.keypop-modal-overlay
  background-color alpha(black, 0.2) !important

.keypop-modal

  &-main
    background-color white !important
    border 1px solid #ACB3B9 !important
    border-radius 0 !important
    box-shadow 0 5px 100px alpha(black, 0.5) !important

  &-close-btn
    display none !important

#keypop-modal

  &-content
    min-width 300px
    font-family system
    color black

    tr
      &:last-child td
        padding-bottom 0

      td
        padding 5px 0

        &.keypop-group
          border-top none

  &-title
    font-size 20px
    font-weight 700

  &-list
    padding-top 3px
    padding-bottom 3px
    font-size 16px

    .keypop

      &-wrap
        padding-right 15px
        font-family monospace
        line-height 10px
        color blue

        kbd
          padding 2px 3px

        .keypop
          &-separator:before
          &-combinator:before
            font-size 12px
            padding 0 3px
          &-separator:before
            content "/"
          &-combinator:before
            content "+"
          &-sequencer:before
            content " "

      &-description
        padding-left 50px

      &-group div
        font-weight 700
        font-size 18px
        margin-top 15px
        margin-bottom 5px
