@import "_common"

.keypop-modal

  &-main
    background-color white !important
    border 1px solid #ACB3B9 !important
    border-radius 0 !important
    box-shadow 0 5px 50px rgba(0, 0, 0, 0.3) !important

  &-close-btn
    big-x()

#keypop-modal

  &-content
    font-family Helvetica, Arial
    color black

    tr
      &:last-child td
        padding-bottom 0

      td
        padding 10px 0
        border-top solid 1px #E6E6E6

        &.keypop-group
          border-top none

  &-title
    font-size 20px

  &-list
    padding-top 3px
    padding-bottom 3px
    font-size 14px
    line-height 20px

    .keypop

      &-wrap
        padding-right 15px
        font-family monospace
        font-size 11px
        line-height 10px

        kbd
          border solid 1px #ABABAB
          font-size 10px
          font-family "Lucida Grande"
          padding 2px 3px
          border-radius 3px
          color #999
          text-transform capitalize

        .keypop
          &-separator:before
          &-combinator:before
            font-size 12px
            padding 0 3px
          &-separator:before
            content "/"
          &-combinator:before
            content "+"
          &-sequencer:before
            content " "

      &-combo .keypop

        &-ctrl
          text-transform uppercase

      &-group div
        font-weight bolder
        font-size 14px
        margin-top 10px
        margin-bottom 3px
