@import "_common"
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700")

.keypop-modal-overlay
  background-color transparent !important

.keypop-modal

  &-main
    background-color alpha(black,0.5) !important
    border-radius 10px !important
    border 1px solid #ccc
    box-shadow 0 0 10px #ccc !important

    &:before
      content " "
      position absolute
      z-index -1
      top -5px
      left -5px
      right -5px
      bottom -5px
      border 1px solid alpha(white, 0.3)
      border-radius 15px
      background-color alpha(black,0.3)

  &-close-btn
    font-size 1.3em !important
    background-color transparent !important
    font-weight bold !important
    color #ccc !important
    text-shadow 0 0 1px #555 !important

#keypop-modal

  &-content
    padding 5px
    font-family 'Ubuntu', sans-serif

    td
      color white

  &-title
    color white
    font-weight 700
    text-align center

  &-list

    .keypop-wrap

      .keypop
        &-separator:before
        &-combinator:before
        &-sequencer:before
          padding 0 5px
        &-separator:before
          content ","
        &-combinator:before
          content "+"
        &-sequencer:before
          content ""

        &-code
          font-weight 700
          text-transform capitalize

    .keypop-group
      div
        font-weight bolder
        margin 20px 0 10px
        padding-top 15px
        border-top 1px solid rgba(255,255,255,0.1)

    .keypop-description
      padding-left 50px

      &:after
        content "."
